:root {
    --primary-color: #1DCE81;
    --black: #262626;
    --white: #FFFFFF;
    --light-gray: #F3F3F3;
    --gray: #636565;
    --blue: #4299E1;
    --red: #F56565;
    --orange: #ED8936;
    --teal: #38B2AC;

    --max-width: 55rem;
}

/* FORMAT HELPER CLASSES */

html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.body-section {
    box-sizing: border-box;
    scroll-margin-top: 4rem;
    margin: 0rem auto 10rem auto;

    max-width: 55rem;
    padding: 0px 1rem;
}

h1 {
    font-size: 5rem;
}
h1 .accent, h1.accent {
    color: var(--primary-color);
}
h2 {
    font-size: 2rem;
    color: var(--gray);
}
h2 .accent, h2.accent {
    color: var(--black);
    font-weight: bolder;
}
h3 {
    font-size: 1.5rem;
    color: var(--gray);
}
h3 .accent, h3.accent {
    color: var(--black);
    font-weight: bolder;
}

#nav {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;

    background-color: var(--white);
}

#nav-content {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;

    font-weight: bold;
    font-size: 1.25rem;

    max-width: 55rem;
    margin: auto;
}

#nav-brand {
    margin-right: auto !important;
    color: var(--primary-color) !important;
    height: 1.25rem;
}
#nav-brand img {
    height: 100%;
    width: auto;
}

#nav-content > a {
    margin: .1rem;
    text-decoration: none;
    color: var(--black)
}

#nav-content > .nav-button {
    margin-left: .5rem;
}

#hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero-wrapper {
    height: 75vh;

    margin-bottom: 10rem;

    position: relative;

    background-image: url(../img/give.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}


#hero h1{
    background-color: var(--white);
    padding: 1rem 2rem;
}
#font-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem 4rem;
}
#font-grid .text-tag {
    text-align: end;
}
#font-grid .lazy-dog {
  /* white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis; */
}
#font-grid * {
    margin: 0;
}
#link-button {
    background-color: var(--light-gray);
    padding: 1rem;
    margin: 4rem 0px;
    border-radius: .5rem;

    width: 100%;
    box-sizing: border-box;
    display: block;

    color: var(--black);
    font-weight: bold;
    text-decoration: none;
    word-break: break-all;
}

.color-swatches {
    display: grid;
    grid-gap: 2rem;
}
#main-color-list {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5rem;
}
#secondary-color-list {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.color {
    display: grid;
    grid-template-areas:
                    "color-swatch color-swatch"
                    "color-title color-hex";
    grid-row-gap: .25rem;
    grid-column-gap: 1rem;

    background-color: var(--light-gray);

    padding: .5rem;
    border-radius: .75rem;
}

.color-swatch {
    width: 100%;
    height: 6rem;
    border-radius: .5rem;
    grid-area: color-swatch;
}
.color-title {
    grid-area: color-title;
    font-weight: bold;
}
.color-hex {
    grid-area: color-hex;
    background-color: var(--white);
    border-radius: .25rem;
    padding: .2rem .4rem;
    margin-left: auto;
    margin-bottom: auto;
}
.color-swatch.primary {
    background-color: var(--primary-color);
}
.color-swatch.black {
    background-color: var(--black);
}
.color-swatch.white {
    background-color: var(--white);
}
.color-swatch.light-gray {
    border: #00000017 .5px solid;
    background-color: var(--light-gray);
}
.color-swatch.gray {
    background-color: var(--gray);
}
.color-swatch.blue {
    background-color: var(--blue);
}
.color-swatch.red {
    background-color: var(--red);
}
.color-swatch.orange {
    background-color: var(--orange);
}
.color-swatch.teal {
    background-color: var(--teal);
}

#layout img {
    width: 100%;
    margin-bottom: 4rem;
    /* border: var(--primary-color) .5rem solid; */
    box-shadow: #00000021 0px 5px 120px -5px;
    border-radius: 1rem;
}

ion-icon {
    line-height: inherit;
    font-size: inherit;
    /* vertical-align: middle; */
    margin-right: .5rem;
}

#logo-display {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    justify-items: center;

    margin-bottom: 7rem;
}

#logo-display img {
    width: 100%;
    max-height: 10rem;
    height: auto;

    box-sizing: border-box;
    padding: 1rem 1.5rem;

    border-radius: 1rem;
}

#logo-display img.alt-background {
    background-color: var(--black);
}



#download-button {
    display: flex;

    padding: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;

    text-align: center;
    text-decoration: none;

    background-color: var(--light-gray);
    color: var(--black);
}

@media(max-width: 768px) {
    .body-section {
        width: 100%;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-top: 0px;
    }
    h2 {
        font-size: 1.25rem;
        margin-top: 0px;
    }
    h3 {
        font-size: 1.25rem;
        color: var(--primary-color);
        margin-bottom: 0px;
    }
}